@model IEnumerable<DisasterAlleviationFoundation.Models.Volunteer>
<h2>Volunteers</h2>
<a href="/Volunteers/Create">Add Volunteer</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Email</th>
    </tr>
    @foreach (var v in Model)
    {
        <tr>
            <td>@v.FullName</td>
            <td>@v.Email</td>
        </tr>
    }
</table>
